/*
  ==============

    BUTTONS

  ==============
*/

button {
  cursor: pointer;
}

.buttons-container h4 {
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 1.4em;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.btn-tab {
  width: 80px;
  height: 24px;
  background: #FFFFFF;
  color: black;
  text-transform: uppercase;
  display: block;
  transition: all .2s ease-in-out;
  border: 0;
}

.btn-tab:hover {
  background: teal;
  color: white;
  font-weight: 200;
}

.transparent:hover {
  background: rgba(255, 255, 255, .3)!important;
  color: #22313F;
}

.btn {
  width: 80px;
  height: 24px;
  background: #FFFFFF;
  color: black;
  text-transform: uppercase;
  display: block;
  transition: all .2s ease-in-out;
  border: 0;
  border-radius: 5px;
  margin: 20px 0;
}

.btn-small {
  width: 80px;
  height: 24px;
}

.btn-medium {
  width: 110px;
  height: 34px;
}

.btn-large {
  width: 150px;
  height: 42px;
}

.btn-empty {
  border: 2px solid #FFFFFF;
  background: transparent!important;
  color: #FFFFFF!important;
  transition: all .2s ease-in-out;
}

.btn-empty:hover {
  background: rgba(255, 255, 255, 1)!important;
  color: #fbc531!important;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, .1);
}

.btn:hover {
  font-weight: 200;
}

.btn:hover {
  background: rgba(255, 255, 255, .3);
  color: #22313F;
}
