/*
  ==============

    Call To Action

  ==============
*/

.calltoaction-container {}

.calltoaction-container h4 {
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 1.4em;
}

.calltoaction-container .transparent {
  background: transparent!important;
  border: 3px solid rgba(0, 0, 0, .5);
}

.callToAction {
  background: #FFFFFF;
  border-radius: 5px;
  position: relative;
  padding: 20px 10px;
  margin-bottom: 40px;
  transition: all .2s ease-in-out;
}

.callToAction:hover {
  box-shadow: 1px 2px 6px rgba(0, 0, 0, .1);
}

.callToAction:hover .left {
  transform: scale(1.03);
}

.callToAction>.left {
  float: left;
  width: 75%;
  padding-left: 5%;
  transition: all .2s ease-in-out;
}

.callToAction>.left h2 {
  margin-top: 10px;
}

.callToAction>.left p {
  font-size: .7em;
}

.callToAction>.right {
  float: right;
  width: 20%;
}

.callToAction>.right button {
  background: #D33F3F;
  height: auto;
  width: auto;
  color: #FFFFFF;
  padding: 10px 24px;
}

.callToAction>.right button:hover {
  transform: scale(1.2);
}
