/*
  ==============

    Call To Action

  ==============
*/

.calltoaction-container {}

.calltoaction-container h4 {
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 1.4em;
}

.callToAction {
  background: #FFFFFF;
  border-radius: 5px;
  position: relative;
  padding: 20px 10px;
}

.callToAction>.left {
  float: left;
  width: 75%;
  padding-left: 5%;
}

.callToAction>.left h2 {
  margin-top: 10px;
}

.callToAction>.left p {
  font-size: .7em;
}

.callToAction>.right {
  float: right;
  width: 20%;
}

.callToAction>.right button {
  background: #D33F3F;
  height: auto;
  width: auto;
  color: #FFFFFF;
  padding: 10px 24px;
}

.callToAction>.right button:hover {
  transform: scale(1.2);
}
