/*
  ==============

    NAV

  ==============
*/


.nav-container{}
.nav{}

.nav__link{
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  background: #FFFFFF;
  border-radius: 4px;

}

.nav__link a{
  text-decoration: none;
  font-size: 1.4em;
  color: #fbc531;
  text-transform: uppercase;
  padding: 6px;
}

.nav__link:hover a{
}
